.week-product {
  background-color: #ffffff;
  position: relative;
  margin-bottom: 80px;

  &::after {
    position: absolute;
    content: "";
    background-image: url(../img/zigzag-line-320.png);
    width: 320px;
    height: 7px;
    left: 0px;
    bottom: -35px;
  }
}
.week-product__heading {
  padding: 0 30px;
}
.week-product__h2 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 15px;
}
.week-product__h3 {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.week-product__wrapper {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__title {
  font-size: 15px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 25px;
}
.product__title-atribut {
  width: 260px;
}
.atribut__str {
  height: 40px;
  box-shadow: 0 1px 0 0 #ececec;
}
.atribut__str:first-child {
  width: 95px;
}
.product__title-purchase {
  margin-top: 370px;
}
.product__title-price {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 30px;
}
.week-product__img {
  position: absolute;
  top: 370px;
  left: 30px;
  width: 260px;
  height: 315px;
}

@media (min-width: @tablet-width) {
  .week-product::after {
    background-image: url(../img/zigzag-line-768.png);
    width: 768px;
    height: 17px;
  //  left: 0px;
    bottom: -50px;
  }
  .week-product__heading {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
  }
  .week-product__h2 {
    margin: 0;
  }
  .week-product__h3 {
    margin: 0;

  }
  .week-product__wrap {
    display: flex;
    justify-content: space-between;
  }
  .week-product__wrapper {
    width: 290px;
    padding: 0 50px;
  }

  .product__title-purchase {
    margin-top: 30px;
  }
  .week-product__img {
    position: static;
    width: 333px;
    height: 404px;
    margin-right: 50px;
  }
}

@media (min-width: @desktop-width) {
  .week-product::after {
    background-image: url(../img/zigzag-line-1050.png);
    width: 1050px;
    height: 23px;
    left: 50px;
    bottom: -70px;
  }
  .week-product__heading {
    justify-content:
    flex-start;
    position: absolute;
    top: 80px;

  }

  .week-product__h2 {
    order: 2;
  }
  .week-product__h3 {
    width: 180px;
    padding: 0 40px;
    box-sizing: border-box;
  }
  .week-product__wrap {
    margin-top: 70px;
  }
  .product__title {
    padding-top: 165px;
  }
  .week-product__img {
    width: 525px;
    height: 636px;
    margin-right: 50px;
  }
  .week-product__wrapper {
    width: 295px;
    margin-left: 176px;
    justify-content: space-between;
  }
}
